/**************************
	* STYLES
**************************/
/* variables */
:root {
	--primary: #003E52;
	--secondary: #EE7623;
	--neutral: #00000029;
	--white: #FFFFFF;
}

/* reset */
body,p,a,ul,li {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
li {
	list-style-type: none;
}

/* base styles */
body {
	overflow-x: hidden;
	font-family: 'Rift Regular';
}

button {
	background: none;
	border: none;
}

/* fonts */
@font-face {
	font-family: 'Rift Bold';
	src: url('/fonts/Rift/Fort\ Foundry\ -\ Rift-Bold.otf');
}
@font-face {
	font-family: 'Rift Light';
	src: url('/fonts/Rift/Fort\ Foundry\ -\ Rift-Light.otf');
}
@font-face {
	font-family: 'Rift Medium';
	src: url('/fonts/Rift/Fort\ Foundry\ -\ Rift-Medium.otf');
}
@font-face {
	font-family: 'Rift Regular';
	src: url('/fonts/Rift/Fort\ Foundry\ -\ Rift-Regular.otf');
}
h1,h2,h3,h4,h5,p,a,li {
	color: var(--primary);
	font-weight: normal;
}
h4,h5 {
	font-size: 1.2em;
}

/* ===== MOBILE STYLES ===== */
/* navbar styles */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	/* z-index: 1000; */
	background-color: var(--primary);
	box-shadow: 0px 3px 6px #00000029;
	height: 74px;
}
nav div {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 14px 16px;
}
nav div div {
	display: none;
}
nav ul li a {
	color: var(--white);
}

/* hamburger menu styles */
.hamburger-menu span {
	display: block;
	width: 25px;
	height: 3px;
	background-color: var(--white);
	margin: 5px auto;
	transition: background-color 0.3s ease;
}

/* hero section styles */


@media screen and (min-width: 480px) {
	
}

/* small tablet styles */
@media screen and (min-width: 600px) {
	
}

/* large tablets and laptop styles */
@media screen and (min-width: 801px) {
	
	body {
		font-size: 18px;
	}
}

/* desktop styles */
@media screen and (min-width: 1025px) {
	
	body {
		font-size: 20px;
	}
}

/* desktop styles */
@media screen and (min-width: 1281px) {
	
	body {
		font-size: 20px;
	}
}