/**************************
	* STYLES
**************************/
/* variables */
:root {
	--primary: #003E52;
	--secondary: #EE7623;
	--neutral: #00000029;
	--white: #FFFFFF;
}

/* reset */
body,p,a,ul,li {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
li {
	list-style-type: none;
}

/* base styles */
body {
	overflow-x: hidden;
	font-family: 'Rift Regular';
	width: auto;
}

button {
	background: none;
	border: none;
}

/* fonts */
/* Rift Bold */
@font-face {
	font-family: 'Rift Bold';
	src: url('/fonts/Rift/Fort\ Foundry\ -\ Rift-Bold.otf');
}
@font-face {
	font-family: 'Rift Light';
	src: url('/fonts/Rift/Fort\ Foundry\ -\ Rift-Light.otf');
}
@font-face {
	font-family: 'Rift Medium';
	src: url('/fonts/Rift/Fort\ Foundry\ -\ Rift-Medium.otf');
}
@font-face {
	font-family: 'Rift Regular';
	src: url('/fonts/Rift/Fort\ Foundry\ -\ Rift-Regular.otf');
}

/* Montseratt */
@font-face {
	font-family: 'Montseratt Bold';
	src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
	font-family: 'Montseratt Light';
	src: url('/fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face {
	font-family: 'Montseratt Medium';
	src: url('/fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
	font-family: 'Montseratt Regular';
	src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}
h1,h2,h3,h4,h5,p,a,li {
	color: var(--primary);
	font-weight: normal;
}
h4,h5 {
	font-size: 1.2em;
}

/* ===== MOBILE STYLES ===== */
/* navbar styles */
nav, footer {
	position: fixed;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 999;
	background-color: var(--primary);
	box-shadow: 0px 3px 6px #00000029;
	height: 74px;
}
nav {
	top: 0;
	margin-bottom: 74px;
}
nav div {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 14px 16px;
}
.menu-items {
	height: 70%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.menu-items ul {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 2rem;
	font-size: 24px;
}
nav ul li a {
	color: var(--white);
}

/* hamburger menu styles */
.hamburger-menu span {
	display: block;
	width: 30px;
	height: 3px;
	background-color: var(--white);
	margin: 5px auto;
	transition: all 0.3s ease;
}

.close span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.close span:nth-child(2) {
    opacity: 0;
}

.close span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* hero slide section styles */
.hero {
	margin-top: 74px;
}
.hero-wrapper {
	position: relative;
}
section div img{
	width: 100%;
	height: 100%;
}
.slide-item {
    position: relative;
    width: 100%;
    height: 504px;
    overflow: hidden;
}
.slide-item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.slide-item > div {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}
.slick-prev, .slick-next {
    position: absolute;
    bottom: 20px;
    z-index: 99;
}
.slick-prev::before {
    content: '<';
    display: inline-block;
    margin-left: 5px;
}
.slick-prev {
	right: 30px;
}
.slick-next {
    right: 10px;
}
.slick-next::after {
    content: '>';
    display: inline-block;
    margin-left: 5px;
}
.slide-buttons {
	position: absolute;
	bottom: 10px;
	right: 0;
}


/* welcome styles */
.welcome-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.welcome-item div {
	width: 69px;
	height: 79px;
}
.welcome h4 {
	text-align: center;
}
.welcome .divider {
	background-color: var(--secondary);
	width: 45px;
	height: 2px;
	margin: 0;
}
.welcome .welcome-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.welcome-header h4 {
	font-family: 'Montseratt Bold';
	margin-bottom: 0.8rem;
}
/* footer styles */
footer {
    background-color: var(--primary);
	width: 100%;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}


@media screen and (min-width: 480px) {
	
}

/* small tablet styles */
@media screen and (min-width: 600px) {
	
}

/* large tablets and laptop styles */
@media screen and (min-width: 801px) {
	
	body {
		font-size: 18px;
	}
}

/* desktop styles */
@media screen and (min-width: 1025px) {
	
	body {
		font-size: 20px;
	}
}

/* desktop styles */
@media screen and (min-width: 1281px) {
	
	body {
		font-size: 20px;
	}
	.welcome-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.welcome-item {
		flex: 20%;
  		padding: 20px;
	}
	nav {
		
	}
}